.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.local.json
/HospitalManagement/.vs/HospitalManagement.slnx/v18/.suo
/.gitignore
/HospitalManagement/.vs/HospitalManagement.slnx/v18/DocumentLayout.json
